<div class="w-full max-w-lg mx-auto">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-3xl font-bold text-center"><%= t("devise.registrations.new.sign_up_title") %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-4">
        <%= f.label :name, class: "block text-gray-700 text-base font-bold mb-2" %>
        <%= f.text_field :name, autofocus: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
      </div>

      <div class="mt-4">
        <%= f.label :email, class: "block text-gray-700 text-base font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
      </div>

      <div class="mt-4">
        <%= f.label :password, class: "block text-gray-700 text-base font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
      </div>

      <div class="mt-4">
        <%= f.label :password_confirmation, class: "block text-gray-700 text-base font-bold mb-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight" %>
      </div>

      <div class="flex items-center justify-center mt-6">
        <%= f.submit t("devise.registrations.new.sign_up_button"), class: "bg-amber-500 hover:bg-orange-300 text-white font-bold py-2 px-5 rounded focus:outline-none" %>
      </div>
    <% end %>

  <div class="underline mt-2 text-center">
    <%= render "devise/shared/links" %>
  </div>

  </div>
</div>