<!-- app/views/shared/_header.html.erb -->
  <header class="bg-amber-500 shadow px-14 py-4">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
      <h1 class="text-2xl font-bold text-black">
        nanitabeta?
      </h1>
      <div class="space-x4">
        <% if user_signed_in? %>
          <%= link_to t("header.record"), "#", class: "bg-amber-500 text-white font-normal py-2 px-4 border border-white-400 rounded hover:bg-orange-300 transition" %>
          <%= form_with url: destroy_user_session_path, method: :delete, class: "inline" do %>
            <%= button_tag t("header.sign_out"), type: "submit", class: "bg-amber-500 text-white font-normal py-2 px-4 border border-white-400 rounded hover:bg-orange-300 transition inline-block align-middle leading-tight" %>
          <% end %>
        <% else %>
          <%= link_to t("header.sign_up"), new_user_registration_path, class: "bg-amber-500 text-white font-normal py-2 px-4 border border-white-400 rounded hover:bg-orange-300 transition" %>
          <%= link_to t("header.sign_in"), new_user_session_path, class: "bg-amber-500 text-white font-normal py-2 px-4 border border-white-400 rounded hover:bg-orange-300 transition" %>
        <% end %>
      </div>
    </div>
  </header>
