<div id="<%= dom_id(order) %>" class="h-40 space-y-4 border rounded shadow hover:shadow-lg transition bg-white flex flex-col justify-between border-gray-400">
  <!-- アイテムの設置構成 -->
  <div class="h-full flex items-start p-2 rounded space-x-4">
      <!-- 左に画像(w-32 or w-40) -->
    <div class="w-24 sm:w-32 h-full mr-4 flex-shrink-0">
      <%= image_tag(
            order.menu.image_url_url.present? ? order.menu.image_url.url : "sample.png", 
            class: "object-cover w-full h-full rounded mb-2") %>
    </div>
      <!-- (要)店名やメニュー名の折り返し等への配慮 -->
      <!-- 右側 -->
    <div class="flex-1 flex flex-col justify-between h-full">    
      <!-- store -->
      <div class="flex justify-between items-center gap-2 mt-2 w-full overflow-x-auto">
        <span class="text-sm sm:text-base md:text-lg w-0 flex-1 overflow-x-auto whitespace-nowrap">
          <%= order.menu.store.name %>
        </span>

    <!-- 注文日 or ステータス -->
        <span class="text-xs sm:text-sm text-right whitespace-nowrap flex-shrink-0">
          <% if order.ordered %>
            <%= l(order.ordered_at, format: :short) %>
          <% else %>
            <%= status_toggle_button(order, params[:tab]) %>
          <% end %>
        </span>
      </div>    

    <!-- menu -->
      <div class="flex justify-between items-center gap-2 w-full overflow-x-auto">
        <span class="text-base sm:text-lg md:text-xl w-0 font-semibold flex-1 overflow-x-auto whitespace-nowrap">
          <%= order.menu.name %>
        </span>
      </div>
    
    <!-- review -->
      <div class="flex items-center text-amber-400 font-normal">
        <span class="text-sm sm:text-xl">  
          <% review = order.menu.reviews.find_by(user: current_user) %>
          <%= review.present? ? '★' * review.rating : '-' %>
        </span>
      </div>
        
    <!-- memo -->
      <div class="flex justify-between items-center text-gray-500 italic mb-2 w-full overflow-x-auto">
        <span class="text-sm sm:text-base w-0 flex-1 overflow-x-auto whitespace-nowrap">
          <% if order.memo.present? %>
            メモ: <%= order.memo %>
          <% end %>
        </span>

    <!-- x hoverで共有アクションである旨を伝える-->
        <div class="order-actions">
          <button type="button" class="share-btn flex items-center flex-row-reverse font-normal truncate gap-1" 
          data-order-id="<%= order.id %>" 
          data-share-token="<%= order.share_token %>"
          data-order-status="<%= order.ordered %>"
          data-store-name="<%= order&.menu&.store&.name %>" 
          data-menu-name="<%= order&.menu&.name %>">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10.053,7.988l5.631,8.024h-1.497L8.566,7.988H10.053z M21,7v10	c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V7c0-2.209,1.791-4,4-4h10C19.209,3,21,4.791,21,7z M17.538,17l-4.186-5.99L16.774,7	h-1.311l-2.704,3.16L10.552,7H6.702l3.941,5.633L6.906,17h1.333l3.001-3.516L13.698,17H17.538z"></path>
            </svg>
          </button>
        </div>
  
    <!-- delete -->
        <div class="flex items-center flex-row-reverse font-normal truncate gap-1">
          <%= link_to order_path(order), id: "button-delete-#{order.id}", data: { turbo_method: :delete, turbo_confirm: t('orders.card.delete_confirm') } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          <% end %>

    <!-- edit -->
          <%= link_to edit_order_path(order.id), class: "btn", data: { turbo_frame: "_top" } do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
