<div class="px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto mt-2">
  <div class="text-gray-500 space-y-4 border rounded shadow hover:shadow-lg transition bg-gray-50 p-2 flex justify-between border-gray-400">
<!-- count -->
<% if @tab == "all" %>
  <%= @count_all %>件
<% elsif @tab == "ordered" %>
  <%= @count_ordered %>件
<% else %>
  <%= @count_wanted %>件
<% end %>

<div>
<%= link_to '新しい順', orders_path(tab: @tab, sort: "latest") %>
| <%= link_to '古い順', orders_path(tab: @tab, sort: "old") %>
  </div>
</div>
</div>

<% if orders.any? %>
  <div class="grid grid-cols-1 gap-y-4 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto mt-6">
    <% orders.each do |order| %>
      <%= render partial: "orders/card", locals: { order: order } %>
    <% end %>
  </div>
<% else %>
  <p class="text-gray-500 text-center">記録がありません。</p>
<% end %>